**/build/
**/dist/
**/target/
**/.settings/
**/.classpath
**/.project
**/.idea/
**/*.eml
**/*.iml
**/*.ipr
**/*.ids
**/*.iws
**/nbproject/
**/manifest.mf
**/nbactions.xml
**/nbbuild.xml
**/nb-configuration.xml
/bin/
/.gitignore
